<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">

    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="LOGGING %d{HH:mm:ss.SSS} [%t] %-5level %l{36} %n%msg%n" />
        </Console>
        <RollingFile name="LogToRollingFile" fileName="logs/logs.log"
                     filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">
            <PatternLayout>
                <Pattern>%d %p %c{1.} [%t] %n%m%n</Pattern>
            </PatternLayout>
            <Policies>
                <TimeBasedTriggeringPolicy />
                <SizeBasedTriggeringPolicy size="1 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>

    <Loggers>
        <Logger name="epam.olharudenko" level="error" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>
        <Logger name="epam.olharudenko" level="info" additivity="false">
            <AppenderRef ref="ConsoleAppender" />
            <AppenderRef ref="LogToRollingFile"/>
        </Logger>

        <Root level="info">
            <AppenderRef ref="LogToRollingFile"/>
        </Root>
    </Loggers>
</Configuration>

<!--<Configuration status="INFO">-->

<!--<Appenders>-->
<!--    <Console name="ConsoleAppender" target="SYSTEM_OUT">-->
<!--        <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %l{36} %n%msg%n" />-->
<!--    </Console>-->
<!--    <RollingFile name="LogToRollingFile" fileName="logs.log"-->
<!--                 filePattern="logs/$${date:yyyy-MM}/app-%d{MM-dd-yyyy}-%i.log.gz">-->
<!--        <PatternLayout>-->
<!--            <Pattern>%d %p %c{1.} [%t] %n%m%n</Pattern>-->
<!--        </PatternLayout>-->
<!--        <Policies>-->
<!--            <TimeBasedTriggeringPolicy />-->
<!--            <SizeBasedTriggeringPolicy size="1 MB"/>-->
<!--        </Policies>-->
<!--    </RollingFile>-->
<!--</Appenders>-->

<!--<Loggers>-->
<!--    <Logger name="ua.foxminded.ollyrudenko.task09.university.service" level="error" additivity="false">-->
<!--        <AppenderRef ref="ConsoleAppender" />-->
<!--        <AppenderRef ref="LogToRollingFile"/>-->
<!--    </Logger>-->
<!--    <Logger name="ua.foxminded.ollyrudenko.task09.university.dao" level="info" additivity="false">-->
<!--        <AppenderRef ref="ConsoleAppender" />-->
<!--        <AppenderRef ref="LogToRollingFile"/>-->
<!--    </Logger>-->
<!--    <Logger name="ua.foxminded.ollyrudenko.task09.university.configuration" level="info" additivity="false">-->
<!--        <AppenderRef ref="ConsoleAppender" />-->
<!--    </Logger>-->
<!--    <Root level="info">-->
<!--        <AppenderRef ref="LogToRollingFile"/>-->
<!--    </Root>-->
<!--</Loggers>-->
<!--</Configuration>-->
